<!DOCTYPE html>
<html>
	<head><meta charset="UTF-8"></head>
	<body>
		<div th:fragment="nav-sidebar">
		
			<ul class="nav justify-content-end">
			  <li class="nav-item">
			    <a class="nav-link active" aria-current="page" th:href="@{/menu/dashboard}">Dashboard</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link active" aria-current="page" th:href="@{/menu/contatos}">Contatos</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" th:href="@{/menu/locais}">Locais</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" th:href="@{/menu/configuracoes}">Configurações</a>
			  </li>
			</ul>
		
		</div>
	</body>
</html>