<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		    <div class="row g-5">
			    <h1>Dashboard de Eventos</h1>
			    <p class="fs-5 col-md-8">
		    		Painel de eventos registrados no sistema. Eventos presentes, passados futuro, contatos associados aos eventos, 
		    		organizador do evento, local onde o evento vai ocorrer, patrocinadores do evento etc.
			    </p>
			
			    <div class="mb-3">
			      <a th:href="@{/menu/evento/cadastrar}" class="btn btn-primary btn-lg px-4">Criar um evento</a>
			    </div>
		    
		    
		      <div class="col-md-6">
		        <h2>Eventos Ativos</h2>
		        <p>Eventos futuros, eventos passados não ocorridos, não confirmados.</p>
		        <ul class="icon-list">
		          <li><a th:href="@{/menu/evento/listar}" rel="noopener" target="_blank">Todos eventos ativos</a></li>
		          <li><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
		          <li class="text-muted">Bootstrap Parcel starter (coming soon!)</li>
		        </ul>
		      </div>
		
		      <div class="col-md-6">
		        <h2>Eventos Concluídos</h2>
		        <p>Todos os detalhes de eventos passados que ocorreram.</p>
		        <ul class="icon-list">
		          <li><a href="../getting-started/introduction/">Bootstrap quick start guide</a></li>
		          <li><a href="../getting-started/webpack/">Bootstrap Webpack guide</a></li>
		          <li><a href="../getting-started/parcel/">Bootstrap Parcel guide</a></li>
		          <li><a href="../getting-started/build-tools/">Contributing to Bootstrap</a></li>
		        </ul>
		      </div>
		    </div>
		</div>
	</body>
</html>