<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		   <main class="container">
			  <div class="bg-light p-5 rounded mt-3">
			    <h1>Evento</h1>
			    <p class="lead">Apresenta lista de eventos cadastradas no sistema.</p>
			    
			    <table class="table" id="tblEventosID">
			    	<thead>
			    		<tr>
			    			<th scope="col">TITULO</th>
			    			<th scope="col">DATA</th>
			    			<th scope="col" class="table-td-center">DETALHES</th>
			    		</tr>
			    	</thead>
			    	<tbody></tbody>	    	
			    </table>			    
			  </div>
		  </main>
		</div>
	</body>
</html>

<script th:inline="javascript">
	$(document).ready(function(){
		listarEventosAjax();
	});
	
	function listarEventosAjax(){
		$.ajax({
		    type: 'GET',
		    url: 'http://localhost:8090/evento/eventos',
		    cache: false,
	        timeout: 600000,
	        contentType: "application/json",
	        dataType: 'json',
	        statusCode: {
		
	    	    200: function(lista){
	    	    	buildTable(lista);
	    	    },
		    	403: function(ex){
					$('.msg').text(ex.responseText);
		            $('.msg').show();
		    		console.log('[NEGADO]: '+JSON.stringify(ex));
		    	},
	    	    500: function(ex) {
					$('.msg').text(ex.responseText);
		            $('.msg').show();
					console.log('[ERROR]: '+JSON.stringify(ex));
		    	}
		    }
		});
	}
	
	function buildTable(lista){
		
		$.each(lista, function(i, item){
			
        	var tr = $('<tr>').append(
                $('<td>').text(item.titulo),
                $('<td>').text(parseDate(item.dtUltAlt)),
                $('<td class="table-td-center">').html("<a href='/evntos/consultar/"+item.id+"'><img src='/img/edit.svg'></img></a>")

        	).appendTo('#tblEventosID tbody');
		});
	}
	
	
	function parseAtivo(ativo){
		if(ativo)return 'Sim';
		return 'Não';
	}
</script>