<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		   <main class="container">
			 <div class="bg-light p-5 rounded mt-3">
			    <h1>Evento</h1>
			    <p class="lead">Apresenta lista de eventos cadastradas no sistema.</p>
			    
			    <table class="table" id="tblEventosID">
			    	<thead>
			    		<tr>
			    			<th scope="col">TITULO</th>
			    			<th scope="col">DATA INÍCIO</th>
			    			<th scope="col">DATA FIM</th>
			    			<th scope="col" class="table-td-center">ATIVO</th>
			    			<th scope="col" class="table-td-center">DETALHES</th>
			    		</tr>
			    	</thead>
			    	<tbody></tbody>	    	
			    </table>			    
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="txtID"></h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
			        <button type="button" class="btn btn-primary">Confirmar</button>
			      </div>
			    </div>
			  </div>
			</div>
		  </main>
		</div>
	</body>
</html>

<script th:inline="javascript">
	$(document).ready(function(){
		listarEventosAjax();
	});
	
	function listarEventosAjax(){
		$.ajax({
		    type: 'GET',
		    url: 'http://localhost:8090/evento/eventos',
		    cache: false,
	        timeout: 600000,
	        contentType: "application/json",
	        dataType: 'json',
	        statusCode: {
		
	    	    200: function(lista){
	    	    	buildTable(lista);
	    	    },
		    	403: function(ex){
					$('.msg').text(ex.responseText);
		            $('.msg').show();
		    		console.log('[NEGADO]: '+JSON.stringify(ex));
		    	},
	    	    500: function(ex) {
					$('.msg').text(ex.responseText);
		            $('.msg').show();
					console.log('[ERROR]: '+JSON.stringify(ex));
		    	}
		    }
		});
	}
	
	function buildTable(lista){
		
		$.each(lista, function(i, item){
			
        	var tr = $('<tr>').append(
                $('<td>').text(item.titulo),
                $('<td>').text(parseDate(item.dtIniEvento)),
                $('<td>').text(parseDate(item.dtFimEvento)),
                $('<td onclick="openModal(),  alteraMsg('+item.ativo+')" class="table-td-center cursor-pointer">').html(verificaStatus(item.ativo)),
                $('<td onclick="openModal()" class="table-td-center">').html("<a href='/eventos/consultar/"+item.id+"'><img src='/img/search.svg'></img></a>")
        	).appendTo('#tblEventosID tbody');
		});
	}
	
	function alteraMsg(ativo){
		if(ativo){
			$('#txtID').text("Desativar evento");
		}else {
			$('#txtID').text("Ativar evento");		
		}
	}
	
	function verificaStatus(ativo){
		if(ativo){
			return "<img src='/img/check-square.svg'></img>";
		}else {
			return "<img src='/img/square.svg'></img>";
		}
	}
	
	///// FUNCOES DE MODAL /////////////////////////////////////////////////////////////////////////////////////////
	function openModal(){
		$('#myModal').modal('show'); 

		var confirmado = './img/icons/component/check-square.svg';
		var pathAtual  = $('#ico-1').attr('src');

		if(pathAtual === confirmado){
			$('#staticBackdropLabel').text('Cancelar');
			$('#infoID').text('Deseja cancelar o agendamento?');
		}else {
			$('#staticBackdropLabel').text('Confirmar');
			$('#infoID').text('Deseja confimar o agendamento?');
		}
	} 

	function closeModal(){
		$('#myModal').modal('hide'); 

		var confirmado = './img/icons/component/check-square.svg';
		var pathAtual  = $('#ico-1').attr('src');

		if(pathAtual === confirmado){
			$('#ico-1').attr('src', './img/icons/component/square.svg');
			$('#staticBackdropLabel').text('Cancelar');
			$('#infoID').text('Deseja cancelar o agendamento?');

		}else {
			$('#ico-1').attr('src', './img/icons/component/check-square.svg');
			$('#staticBackdropLabel').text('Confirmar');
			$('#infoID').text('Deseja confimar o agendamento?');
		}
	}
</script>