<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		   <main class="container">
			  <span class="hideObject" th:text="${contato}"></span>
			  
			  <div class="bg-light p-5 rounded mt-3">
			    <h1>Contato</h1>
			    <p class="lead">Apresenta todos os contatos cadastrados no sistema, ativos ou inativos.</p>
			    
			    <form class="row g-3">
				  <div class="col-md-6">
				    <label for="nomeID" class="form-label">Nome</label>
				    <input type="email" class="form-control" id="nomeID">
				  </div>
				  <div class="col-md-6">
				    <label for="telefoneID" class="form-label">Telefone</label>
				    <input type="text" class="form-control" id="telefoneID">
				  </div>
				  <div class="col-12">
				    <label for="inputAddress" class="form-label">Email</label>
				    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
				  </div>
				  <div class="col-md-4">
				    <label for="inputState" class="form-label">Categoria</label>
				    <select id="inputState" class="form-select">
				      <option selected>Choose...</option>
				      <option>...</option>
				    </select>
				  </div>
				  <div class="col-md-2">
				     <label for="inputState" class="form-label">Ativo</label>
				    <select id="inputState" class="form-select">
				      <option selected>Choose...</option>
				      <option>...</option>
				    </select>
				  </div>
				  <div class="col-12">
				    <button type="submit" class="btn btn-primary">Atualizar</button>
				  </div>
				</form>		  
				  
			  </div>
			</main>
		</div>
	</body>
</html>
<script th:inline="javascript">
	$(document).ready(function(){
		buildContato();
	});
	
	function buildContato(){
		var contato = JSON.parse($('.hideObject').text());
		
		$('#nomeID').val(contato.nome);
		$('#telefoneID').val(contato.telefone);
	}
</script>