<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		   <main class="container">
			  <div class="bg-light p-5 rounded mt-3">
			    <h1>Contatos</h1>
			    <p class="lead">Apresenta todos os contatos cadastrados no sistema, ativos ou inativos.</p>
			    
			    contato
							    
			  </div>
			</main>
		</div>
	</body>
</html>
<script th:inline="javascript">
</script>