<!DOCTYPE html>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	<head><meta charset="UTF-8" /></head>
	<body>
		<div layout:fragment="body">	
		   <main class="container">
			  <div class="bg-light p-5 rounded mt-3">
			    <h1>Contatos</h1>
			    <p class="lead">Apresenta todos os contatos cadastrados no sistema, ativos ou inativos.</p>
			    
			    <table class="table" id="tblContatosID">
				  <thead>
				    <tr>
				      <th scope="col">NOME</th>
				      <th scope="col">TELEFONE</th>
				      <th scope="col">CATEGORIA</th>
				      <th scope="col">ATIVO</th>
				      <th scope="col">DT ATUALIZAÇÃO</th>
				      <th scope="col">DETALHES</th>
				    </tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
							    
			  </div>
			</main>
		</div>
	</body>
</html>

<script th:inline="javascript">

	$(document).ready(function(){
		listarContatosAjax();
	});

	function listarContatosAjax(){
		$.ajax({
		    type: 'GET',
		    url: 'http://localhost:8090/contato/listar',
		    cache: false,
	        timeout: 600000,
	        contentType: "application/json",
	        dataType: 'json',
	        statusCode: {
		
	    	    200: function(lista){
	    	    	buildTable(lista);
	    	    },
		    	403: function(ex){
					$('.msg').text(ex.responseText);
		            $('.msg').show();
		    		console.log('[NEGADO]: '+JSON.stringify(ex));
		    	},
	    	    500: function(ex) {
					$('.msg').text(ex.responseText);
		            $('.msg').show();
					console.log('[ERROR]: '+JSON.stringify(ex));
		    	}
		    }
		});
	}
	
	
	/**
	 * Monta a tabela de contatos
	 */
	function buildTable(lista){
		
		$.each(lista, function(i, item){
			
        	var jQuerytr = $('<tr>').append(
        			
                $('<td>').text(item.nome),
                $('<td>').text(item.telefone),
                $('<td>').text(item.categoria),
                $('<td>').text(parseAtivo(item.ativo)),
                $('<td>').text(parseDate(item.dtUltAlt)),
                $('<td>').html("<a href='/contato/consultar/"+item.id+"'><img src='/img/edit.svg'></img></a>")

        	).appendTo('#tblContatosID tbody');
		});
	}
	
	
	function parseAtivo(ativo){
		if(ativo)return 'Sim';
		return 'Não';
	}
</script>